{% extends 'base.html.twig' %}

{% block title %}{{formTitle}}{% endblock %}


{% block body %}
    {{ include('status/_form.html.twig') }}
    <div class="container">
        <div>
            <a class="btn btn-danger my-3" href="{{ path('app_status_delete', {'id': status.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer le status?')">
                <i class="bi-trash me-1"></i>
                Supprimer
            </a>
        </div>
        <div>
            <a class="btn btn-light my-3" href="{{ path('app_status_index') }}">
                <i class="bi bi-arrow-left-circle"></i>
                Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}
