{% extends 'base.html.twig' %}
{% block title %}Nos Biens Immobiliers | Agence Lilipucien{% endblock %}
{% block body %}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Administration</li>
    		<li class="breadcrumb-item active" aria-current="page">Accueil</li>
  		</ol>
	</nav>
{% endblock %}