{% extends 'base.html.twig' %}
{% block title %}Vente Immobilière | Agence Lilipucien{% endblock %}
{% block h1 %}Vente Immobilière | Agence Lilipucien{% endblock %}
{% block resume %} Ne perder plus votre temps sur tous les sites. L'Agence Lilipucien vous propose des biens d'exceptions dans toute la France. {% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vente</li>
  		</ol>
	</nav>
{% endblock %}