<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">
				{% block h1 %}Agence Lilipucien{% endblock %}
			</h1>
			<p class="lead fw-normal text-white-50 mb-0">
				{% block resume %}Autem pecudum observatum cum autem et deinceps circumspecta et coeperint trucidantur nec ubi et cum
					inertium cedunt reperiri tela grassatores quod terna nec nec edita reperiri exsertare iniquitati lacertos milites
					permissi ritu montium inertium quod bina crispare tela loci coeperint et observatum deinceps autem coeperint potuerint
					rem vehunt adsidue exsertare..
				{% endblock %}
			</p>
		</div>
	</div>
</header>
