{% extends 'base.html.twig' %}

{% block title %}{{form_title}}{% endblock %}


{% block body %}

    {{ include('product/_form.html.twig') }}

    <div class="container">
        <a class="btn btn-light my-3" href="{{ path('app_product') }}">
            <i class="bi bi-arrow-left-circle"></i>
            Retour à la liste
        </a>
    </div>
{% endblock %}

                