{% extends 'base.html.twig' %}

{% block title %}Page Contact | Agence Lilipucien{% endblock %}

{% block body %}
    <div class="container">
        <h1>Formulaire de contact<h1>
    </div>
{% endblock %}
